body{
  background-color: #000000;
  font-family: narly, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  color: #E13332;

}

.albums{
  background-color: #000000;
  width: 100%;
  min-height: 100%;
  padding: 50px;
  position: relative;
  padding-bottom: 200px;
}

.container {
  width: 100%;
  max-width: 80%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.flex-image{
  width: 100%
  height: auto;
  width: 400px;
  align-self: center;
  padding: 20px;
}

h1 {
  top: 1px;
  left: 400px;
  font-family: narly, sans-serif;
  font-weight: 400;
  text-align:center;
  justify-content: center;
  font-style: normal;
  font-size: 50px;
  color: #E13332;
}

@media (max-width: 800px) {
    .container{ background: black; }
}
