
body {
	background-color: #F5F3EC;
}

.home {
	padding: 50px;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 10px;
}

.spinicon {
	font-family: ohno-blazeface, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #04B574;
	font-size: 29px;
	position: absolute;
	top: 29px;
	left: 280px;
}

.ReachOut {
	font-size: 14px;
	font-family: ivymode, sans-serif;
	font-weight: 700;
	font-style: normal;
	border-radius: 80%;
	background-color: #ffffff00;
	border-color: #000000;
	padding: 10px;
	position: absolute;
	top: 52px;
	left: 1280px;
}

#rectangle-for-animation {
	width: 2%;
	height: 100%;
	background: #F0B4CD;
	position: absolute;
	top: 100px;
	bottom:100px;
	left: 705px;
	right:50px;
	overflow: hidden;
}

.infinatescroll {
	font-size: 20px;
	color: #F21B10;
	font-family: ivymode, sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 50%;
	text-align: center;
	writing-mode: vertical-lr;
	text-orientation: mixed;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 50px;
  position: absolute;
	top: 350px;
	left: 80px;
}

li a,b,c {
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}

li a:hover {
  font-weight: 600;
  color: #F5F3EC;
}

li b:hover {
  font-weight: 600;
  color: #F5F3EC;
}

li c:hover {
  font-weight: 600;
  color: #F5F3EC;
}

div {
  height: 100%;
}

html, section, div {
  height: 100%;
}

section {
  width: 100%;
}

.container {
  display: table;
  width: 100%;
}

.left-half {
  background-color: #D1BDDC;
  float: left;
  width: 50%;
}

.right-half {
  background-color: #39C17D;
  float: right;
  width: 50%;
}

.scrolling1 {
  height: 50px;
  overflow: hidden;
  position: relative;
}



.testimage {
  position: absolute;
  left: 700px;
  top: 1000px;
}

.toprightnavigation {
  float: right;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;

  text-decoration: none;
  color: #000000;
  position: relative;
  top:10px;
  left: 10px;
}
