body{
  background: #F5F3EC;
  margin: 15px;
  border: 4px double #000000;
  height: 2270px;
}

.roomtitle{
  font-family: orpheuspro, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 50px;
  position: absolute;
  top: 48px;
  left: 583px;
}

#lib1{
  position:absolute;
  top: 200px;
  left: 100px;
  width: 350px;
  height: auto;
}

#lib2{
  position: absolute;
  top: 200px;
  right: 125px;
  width: 330px;
  height: auto;
}

#lib3{
  position: absolute;
  top: 260px;
  right: 560px;
  width: 380px;
  height: auto;
}

#lib4{
  position: absolute;
  top: 700px;
  right: 800px;
  width: 460px;
  height: auto;
}

#lib5{
  position: absolute;
  top: 730px;
  right: 300px;
  width: 390px;
  height: auto;
}

#lib6{
  position: absolute;
  top: 1120px;
  left: 100px;
  width: 390px;
  height: auto;
}

#lib7{
  position: absolute;
  top: 1300px;
  right: 130px;
  width: 350px;
  height: auto;
}

#lib8{
  position: absolute;
  top: 1260px;
  right: 540px;
  width: 350px;
  height: auto;
}

#lib9{
  position: absolute;
  top: 1640px;
  left: 300px;
  width: 350px;
  height: auto;
}

#lib10{
  position: absolute;
  top: 1780px;
  right: 350px;
  width: 350px;
  height: auto;
}

#backtomap{
  font-family: orpheuspro, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  position: absolute;
  top: 2150px;
  right: 100px;
}

a{
  text-decoration: none;
  color: #000000;
}

#info{
  position: absolute;
  top: 2130px;
  left: 100px;
  width: 600px;
  height: auto;
  font-family: orpheuspro, serif;
  font-weight: 300;
  font-style: italic;
  font-size: 17px;
}

h4{
  font-family: orpheuspro, serif;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  position: absolute;
  top: 2090px;
  left: 100px;
}
