body{
  background: #F5F3EC;
  margin: 15px;
  border: 4px double #000000;
  height: 2200px;
}

.roomtitle{
  font-family: orpheuspro, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 50px;
  position: absolute;
  top: 48px;
  left: 583px;
}

#west1{
  position: absolute;
  top: 200px;
  left: 130px;
  width: 350px;
  height: auto;
}

#west2{
  position: absolute;
  top: 210px;
  right: 130px;
  width: 350px;
  height: auto;
}

#west3{
  position: absolute;
  top: 270px;
  right: 520px;
  width: 400px;
  height: auto;
}

#west4{
  position: absolute;
  top: 700px;
  right: 100px;
  width: 360px;
  height: auto;
}

#west5{
  position: absolute;
  top: 740px;
  right: 520px;
  width: 420px;
  height: auto;
}

#west6{
  position: absolute;
  top: 700px;
  right: 1000px;
  width: 350px;
  height: auto;
}

#west7{
  position: absolute;
  top: 1170px;
  right: 470px;
  width: 500px;
  height: auto;
}

#west8{
  position: absolute;
  top: 1610px;
  right: 100px;
  width: 470px;
  height: auto;
}

#west9{
  position: absolute;
  top: 1610px;
  left: 100px;
  width: 470px;
  height: auto;
}

#west10{
  position: absolute;
  top: 1180px;
  left: 140px;
  width: 200px;
  height: auto;
}

#west11{
  position: absolute;
  top: 1210px;
  right: 130px;
  width: 200px;
  height: auto;
}

#backtomap{
  font-family: orpheuspro, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  position: absolute;
  top: 2100px;
  right: 100px;
}

a{
  text-decoration: none;
  color: #000000;
}

#info{
  position: absolute;
  top: 2040px;
  left: 100px;
  width: 700px;
  height: auto;
  font-family: orpheuspro, serif;
  font-weight: 300;
  font-style: italic;
  font-size: 17px;
}

h4{
  font-family: orpheuspro, serif;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  position: absolute;
  top: 2000px;
  left: 100px;
}
